<html>
    <head>
        <link rel="stylesheet" href="../../css/style_notes.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/styles/tomorrow-night-bright.css">
    </head>
    <body>
        <h2> {{ title }} </h2>
        {{ content | safe }}
    </body>
</html>